p {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Roboto, Arial;
}
.row {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.profile-picture {
    width: 100px;
    border-radius: 100%;
}

.title {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
}
.object,
.popular {
  font-size: 20px;
  color: rgb(96, 96, 96);
}

.button {
}

.follow-button {
    background-color: rgb(24, 119, 242);
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 8px;
    margin-bottom: 10px;
    
}

.follow-button-1 {
    background-color: rgb(24, 119, 242);
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 70px;
    margin-bottom: 10px;
    
}

.follow-button-2 {
    background-color: rgb(24, 119, 242);
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 45px;
    margin-bottom: 10px;
    
}